@import "variables";

.rasl-icon{
  width: 40px;
  vertical-align: middle;
}

.pointer{
  cursor: pointer;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-left{
      justify-content: end;
}

hr {
    background: $black !important;
    height: 2px;
    border-radius: 2px;
    opacity: 0.8;
}

.headerheight{
  max-height: 60px;
}
