@import "variables";

// COLORS
.white-background{
  background-color: $white;
}

.pink-background{
  background-color: $pink;
}

.green-background{
  background-color: $green;
}


// HELPERS

.ignore-mb{
  margin-bottom: 0 !important
}

.pointer{
  cursor: pointer;
}

.valign-middle{
  vertical-align: middle;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-left{
      justify-content: end;
}

hr {
    background: $black !important;
    height: 2px;
    border-radius: 2px;
    opacity: 0.8;
}


// MISC

.headerheight{
  max-height: 60px;
}

.rasl-icon{
  width: 40px;
  vertical-align: middle;
}



// TYPO

.uppercase{
  text-transform: uppercase;
}

.is-size-1{
  line-height: 1;
  letter-spacing: -1px;
}
