@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions'; // customize styles
$tablet: 1024px;
$mobile: 1024px;
$desktop: 1024px;


$size-1: 2.7rem;
$size-3: 1.7rem;

.is-size-1 {
  line-height: 1;
  letter-spacing: -1px;
}

.huge-letters {
  font-size: 8vw;
  letter-spacing: -0.25vw;
  // hyphens: manual;
  line-height: 0.95;
  text-transform: uppercase;
}

.printlayout{

  .is-size-1,.is-size-1-desktop, .is-size-1-touch {
    font-size: 1.6cm !important;
  }

}


$body-line-height: 1.4;
$link-hover: inherit;
$text: $black;
$link: $black; // 2. Set your own initial variables
// Update blue
$blue: #72d0eb; // Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff; // Add a serif family
$family-serif: "TeXGyreHeros", sans; // 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert; // Use the existing orange as the danger color
$danger: $red;
$success: $green;
$info: $lightblue; // Use the new serif family
$family-primary: $family-serif;
@import '~bulma';
@import "variables"; // COLORS

.white-background {
  background-color: $white;
}

.pink-background {
  background-color: $pink;
}

.green-background {
  background-color: $green;
}

.lightblue-background {
  background-color: $lightblue;
}

.lightgrey-background {
  background-color: $lightgrey;
}

html {
  background-color: $lightgrey;
}

.fullHeight {
  min-height: 100vh;
}
// HELPERS

.ignore-mb {
  margin-bottom: 0 !important;
}

.has-border-right {
  border-right: 2px solid $black;
}

.is-size-1-touch,
.is-size-1-desktop,
.is-size-2-touch,
.is-size-2-desktop,
.is-size-3-touch,
.is-size-3-desktop,
.is-size-4-touch,
.is-size-4-desktop {
  line-height: 1;
}

.pointer {
  cursor: pointer;
}

.hover-animate-skew {
  display: inline-block;
  transition: 0.25s transform;

  &:hover {
    transform: skewX(-5deg);
  }
}

.hover-animate-chilren-right {
  &:hover {
    * {
      animation-name: example;
      animation-duration: 0.25s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  @keyframes example {
    from {
      transform: translate3d(0px,0,0);
    }

    to {
      transform: translate3d(5px,0,0);
    }
  }
}

.disable {
  pointer-events: none;
}
.user-select-none {
 user-select: none;
}


.opacity0 {
  opacity: 0;
}

.valign-middle {
  vertical-align: middle;
}

.Aligner {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-left {
  justify-content: end;
}

.Aligner-right {
  justify-content: flex-end;
}

hr {
  background: $black !important;
  height: 2px;
  border-radius: 2px;
  opacity: 0.8;
}
// MISC

.headerheight {
  max-height: 60px;
  height: 60px;
}

.rasl-icon {
  width: 40px;
  vertical-align: middle;
}
@media only screen and (max-width: 1024px) {
  .rasl-icon {
    width: 30px;
    vertical-align: middle;
  }
}
// TYPO

.uppercase {
  text-transform: uppercase;
}

.underline {
  border-bottom: 2px solid;
  border-color: inherit;
}
