
// white
// $white:#FFF8E3;
$white:white;

// black
$black:black;
// $black:#091540;

// licht groen
$lightgreen:#ECFFEC;

// fel groen
$green:#44ae7b;

// dark green
$darkgreen: hsl(141, 71%,  48%);

$darkblue: #00237d;

// licht blauw
$lightblue:#E2F5FF;

// fel blauw
$blue:rgb(0,164,255);

// licht gijs
$lightgrey:gainsboro;



// pink/peach
// $pink: #F8B5B9;
$pink: #ffc7cb;

// pink/peach
$red: red;

// brown
$brown: #DEBF73;
