
// white
$white:#FFF8E3;

// black
$black:#091540;

// licht groen
$lightgreen:#ECFFEC;

// fel groen
$green:#289F6D;

// dark green
$darkgreen: hsl(141, 71%,  48%);

$darkblue: #00237d;

// licht blauw
$lightblue:rgb(227,246,255);

// fel blauw
$blue:rgb(0,164,255);

// pink/peach
$pink: #F8B5B9;

// pink/peach
$red: red;


// brown
$brown: #DEBF73;
