@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-BoldItalic.woff2') format('woff2'),
        url('TeXGyreHeros-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Regular.woff2') format('woff2'),
        url('TeXGyreHeros-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Bold.woff2') format('woff2'),
        url('TeXGyreHeros-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('TeXGyreHeros-Italic.woff2') format('woff2'),
        url('TeXGyreHeros-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

